In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
data = pd.read_csv('mat-feature.csv')

In [4]:
data.head()

   age  Medu  Fedu  failures  freetime  goout  Walc  absences  G1  G2  Class
0   18     4     4         0         3      4     1         6   5   6      0
1   17     1     1         0         3      3     1         4   5   5      0
2   15     1     1         3         3      2     3        10   7   8      1
3   15     4     2         0         2      2     1         2  15  14      1
4   16     3     3         0         3      2     2         4   6  10      1

In [6]:
X = data.drop('Class', axis=1)
Y = data['Class']

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=101)

In [9]:
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [10]:
preds = model.predict(X_test)

In [11]:
print(preds)

[1 1 1 1 0 0 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 0 1 1 0 1 0 1
 0 0 0 0 0 1 0 1 1 1 1 0 1 1 0 0 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 0 1 1 0
 0 1 1 1 1 0 0 1 1 0 1 0 1 1 1 0 0 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 0 0 1 0 1
 0 1 1 1 0 1 1 1]

In [12]:
accuracy = accuracy_score(preds,Y_test)

In [17]:
print(accuracy)

0.9327731092436975